*.rvt
*.rfa
*.dll
*.exe
*.ifc
*.pyc

*.pkl
*.cache

data/
data/*

__pycache__/
__pycache__/*

train_log/
train_log/*

savedEmbeddings/
savedEmbeddings/*

BIMToVecSampler/BIMToVecSampler/bin/
BIMToVecSampler/BIMToVecSampler/bin/*

XbimDemo/
XbimDemo/*

BIMToVecSampler/packages/
BIMToVecSampler/.vs
BIMToVecSampler/BIMToVecSampler/obj/
dataGen/BIMToVecSampler/

.vscode/
.vscode/*